@import '../styles.scss';

main {
  background-color: $purple-main;
  max-width: 812px;
  margin: 0 auto;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    h1 {
      text-transform: uppercase;
      color: $white;
    }
    .home-link {
      > img {
        width: 71px;
        height: 71px;
      }
    }
  }
  section {
    background-color: $dark-main;
    padding: 1rem;
  }
}
